/* Sidebar container */
.sidebar-container {
    width: 200px;
    padding: 20px;
    background-color: #ffffff00;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 4px 0px rgb(0, 0, 0,0.2); */
    font-family: 'Arial', sans-serif;
  }
  
  /* Sidebar main title */
  .filter-title {
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  /* Section titles (Categories, Gender, etc.) */
  .section-title {
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }

  .all-prouct-title{
    padding: 2px 2px 2px 6px;
    transition: background-color 0.3s ease;
  }
  .all-prouct-title:hover{
    color: #ffffff;
    background-color: #000000;
  }
  
  /* Generic filter option styling */
  .filter-option {
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 5px;
    margin: 0;
    transition: background-color 0.3s ease;
    
  }
  .selected {
    color: rgb(255, 254, 254); 
    font-weight: bold; 
    background-color: rgba(0, 0, 0, 0.765); 
 
}
  
  /* Hover effect for filter options */
  .filter-option:hover {
    color: #ffffff;
    /* border-bottom: 1px solid; */
    background-color: #000000;
  }
  
  /* Divider */
  .divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #a9a9a9;
  }
  
  /* Individual section layout */
  .filter-section {
    margin-bottom: 20px;
  }
  
  /* Media queries for smaller screens */
  @media screen and (max-width: 768px) {
    .sidebar-container {
      width: 100%;
      padding: 15px;
    }
  
    .filter-title {
      font-size: 16px;
    }
  
    .filter-option {
      font-size: 14px;
    }
  }
  